certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
idna==3.3; python_version >= "3.7" and python_version < "4"
numpy==1.23.0; python_version >= "3.8"
opencv-python-headless==4.6.0.66; python_version >= "3.6"
pydantic==1.9.1; python_full_version >= "3.6.1"
python-dotenv==0.20.0; python_full_version >= "3.6.1" and python_version >= "3.5"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.6.1"
urllib3==1.26.9; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.7"
